.env*
.dev-env
.test-env
venv
.idea/
setup_env.sh
/sample_data
.pytest_cache
.DS_Store
.gitignore
__pycache__/
timetester.ipynb
.ipynb_checkpoints/
test_out/
sample_output/stuff.pickle
descriptives
venv
sample_data
test_out
